<ion-header>
  <ion-toolbar>
    <ion-title>Cartão de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Julio Cesar de Sousa Oliveira</ion-card-title>
      <ion-card-subtitle>Matricula:24109269</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <img src="assets/minha-foto.jpg" alt="Minha Foto" style="width: 150px; height: auto; border-radius: 10px;margin-left: 50px;" />
    <ion-button expand="full" routerLink="/sobre">Ir para Sobre </ion-button>
    </ion-card-content>
  </ion-card>

 
</ion-content>
